body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: beige;
  min-height: 70px;
  position: fixed;
  width: 100%;
}

.fixed {
  position: absolute;
}

.flex-horizontal {
  display: flex;
}

.main-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.body {
  display: flex;
  width: 100%;
}

.centre-20 {
  margin-left: 20%;
  margin-right: 20%;
}

.header-container {
  align-self: flex-end;
  padding: 10px 10px 10px 10px;
}

.flex-container {
  display: flex;
}

.search-bar {
  border: 2px solid;
  min-width: 300px;
  background-color: white;
}

.search-text {
  border: none;
  width: 100%;
}

.search-text:focus{
  outline: none;
}

.profile-icon {
  height: 30px;
}

.cart-icon {
  height: 30px;
}

.full-width {
  flex-grow: 1;
}

.first-image {
  background-image: url(./images/first_section_image.jpg);
  height: 100%;
  width: 100%;
}


.first-section {
  height: 400px; 
}

.body-container {
  margin: 40px 0 40px 0;
}

.footer-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

.overlay {
  position: absolute; 
}

.profile-card {
  right: 1%;
  min-width: 15%;
  border-radius: 5px 5px 5px 5px;
  background-color: lightblue;
}

.profile-card-container {
  padding: 10px
}

.login-card {
  right: 5%;
  min-width: 15%;
  border-radius: 5px 5px 5px 5px;
  background-color: whitesmoke;
  animation: login 0.8s;
}

@keyframes login {
0%   {right: 0%;}
100% {right: 5%;}
}